
html{
    background-color: rgb(247, 245, 137);
}

table{
    background-color: rgb(238, 166, 133);
    height: 200px;
    width: 400px;
    text-align: center;
}


h3{
    background-color: rgb(57, 114, 168);
}
